version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: odoo19_dev
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    restart: always

  odoo:
    image: odoo:19
    depends_on:
      - db
    expose:
      - "8069"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: odoo
      DB_PASSWORD: odoo
      DB_NAME: odoo19_dev
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./addons:/mnt/odoo-addons
      - ./custom_addons:/mnt/extra-addons
      - ./odoo.conf:/etc/odoo/odoo.conf
    restart: always

  nginx:
    image: nginx:stable
    depends_on:
      - odoo
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: always

volumes:
  odoo-db-data:
  odoo-web-data:
